.container {
  padding: 10px 30px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 350px;
  padding: 12px;
  background-color: #fff;
  border-radius: 100px;
}

input {
  outline: none;
}

.right {
  display: flex;
  align-items: center;
}

.right .alarm {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.alarm img {
  width: 100%;
}

.count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6760;
  font-size: 10px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

.add {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.add button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #336CFB;
  color: #fff;
}

.title {
  font-size: 40px;
  color: #25282B;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: 40px;
}

.br {
  border-radius: 20px !important;
  color: #BBBBBB;
}
.tc {
 text-align: center;
 width: 100%;
}

.dialogcount {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #56CCF2;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}
.btns {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.btns .btn {
  width: 130px;
  background-color: #EB5757;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
.btn.next {
  background-color: #27AE60;
  margin-left: 15px;
}